.Header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #75c2f6; /* dark: 1D5D9B */
    display: flex;
    flex: 1;
    align-items: center;
}
.Header__Title {
    font-size: 18px;
    color: #28323c;
    flex-grow: 1;
}
.Header__PageName {
    margin-left: 30px;
}
.Header__Toggle {
    width: 55px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
}
/* 토글 버튼 */
.Header__Toggle .Header__Button {
    /* 버튼은 토글보다 작아야함  */
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F4D160 ;
}
/* 체크박스가 체크되면 변경 이벤트 */
#darkMode:checked ~ .Header__Toggle {
    background: #F4D160 ;
}

#darkMode:checked ~ .Header__Toggle .Header__Button {
    left: calc(100% - 27px);
    background: #fff;
}

.Header__Toggle, .Header__Button {
    transition: all 0.2s ease-in;
}
