.Product {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.Product__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    border: 1px solid #c5c8ce;
    box-sizing: border-box;
    font-size: 14px;
}
.Product__item:not(:last-child){
    margin-bottom: 10px;
}
.Product__item img {
    display: block;
    width: 100%;
    height: auto;
}
.Product__info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.Product__info--top {
    display: flex;
}
.Product__name {
    flex-shrink: 0;
}
.Product__tag {
    flex-grow: 1;
    text-align: right;
}
.Product__tag span {
    border: 1px solid red;
    border-radius: 3px;
    color: red;
}
.Product__tag span:not(:last-child){
    margin-right: 7px;
}
.Product__info--bottom {
    display: flex;
    flex-direction: column;
}
.Product__price, .Product__etc {
    text-align: left;
}
